DATA=/mnt/user/data
APPDATA=/mnt/user/appdata

# User and Group IDs
PUID=99
PGID=100

# Timezone
TZ=Etc/UTC

# Plex
PLEX_VERSION=docker
PLEX_CLAIM=

# Tautulli
TAUTULLI_HOST_PORT=8181
# Tautulli -> Settings -> Web Interface -> API key. Used by tautulli-exporter.
TAUTULLI_API_KEY=
TAUTULLI_METRICS_HOST_PORT=8100

# Tunarr
TUNARR_HOST_PORT=9191