# User and Group IDs
PUID=99
PGID=100

# Timezone
TZ=America/Regina

# qBittorrent
QBITTORRENT_WEBUI_PORT=8080
QBITTORRENT_TORRENTING_PORT=6881

# Plex
PLEX_VERSION=latest

# Jackett
JACKETT_AUTO_UPDATE=true

# Sonarr
# Add any specific Sonarr environment variables if needed

# Radarr
# Add any specific Radarr environment variables if needed

# FlareSolverr
FLARESOLVERR_LOG_LEVEL=info
