DATA=/mnt/user/data
APPDATA=/mnt/user/appdata

# User and Group IDs
PUID=99
PGID=100

# Timezone
TZ=Etc/UTC

# qBittorrent VPN
QBITTORRENT_WEBUI_PORT=8080
QBITTORRENT_TORRENTING_PORT=6881
QBITTORRENT_VPN_USER=AzureDiamond+pmp
QBITTORRENT_VPN_PASS=hunter2

# SWAG
SWAG_DNSPLUGIN=cloudflare
SWAG_EMAIL=hmccringleberry@psu.edu
SWAG_ONLY_SUBDOMAINS=false
SWAG_AUTORELOAD=true

# Jackett
JACKETT_AUTO_UPDATE=true
JACKETT_HOST_PORT=9117

# Sonarr
SONARR_UHD_HOST_PORT=8989
SONARR_HD_HOST_PORT=9898

# Radarr
RADARR_UHD_HOST_PORT=7878
RADARR_HD_HOST_PORT=8787

# FlareSolverr
FLARESOLVERR_LOG_LEVEL=info
FLARESOLVERR_HOST_PORT=8191

# Notifiarr
NOTIFIARR_HOST_PORT=5454
NOTIFIARR_HOSTNAME=antarctican

# Overseerr
OVERSEERR_LOG_LEVEL=info
OVERSEERR_HOST_PORT=5055

# Unpackerr
UNPACKERR_LOG_FILE_PATH="/config/unpackerr.log"
UNPACKERR_SONARR_UHD_URL="http://sonarr-uhd:8989"
UNPACKERR_SONARR_UHD_API_KEY="32coolkatcharacters"
UNPACKERR_SONARR_HD_URL="http://sonarr-hd:8989"
UNPACKERR_SONARR_HD_API_KEY="32coolkatcharacters"
UNPACKERR_RADARR_UHD_URL="http://radarr-uhd:7878"
UNPACKERR_RADARR_UHD_API_KEY="32coolkatcharacters"
UNPACKERR_RADARR_HD_URL="http://radarr-hd:7878"
UNPACKERR_RADARR_HD_API_KEY="32coolkatcharacters"