APPDATA=/mnt/user/appdata

# User and Group IDs
PUID=99
PGID=100

# Timezone
TZ=Etc/UTC

# Krusader
KRUSADER_WEBUI_PORT=6080
KRUSADER_VNC_PORT=5900
KRUSADER_WEBPAGE_TITLE=Tower
KRUSADER_VNC_PASSWORD=your_vnc_password_here